.profile-pic {
    width: 250px;
    padding-bottom: 10px;
    border-radius: 50%;
}

 .skill-list{
     width: 100px;
     background-color: red;
     margin:5px;
 }

.home-header{
    text-align: center;
}

.navRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 550px;
    height: 40px;
    margin: 0 auto;
}

.navButton{
    height: 40px;
    width: 160px;
    padding: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    background-color: #df691a;
    color: white;
    border-radius: 50px;
}
.navLabel{
    font-size: 15px;
}

a{
    color: white;
}