.profile-pic {
    width: 250px;
    padding-bottom: 10px;
    border-radius: 50%;
}

 .skill-list{
     width: 100px;
     background-color: red;
     margin:5px;
 }

.home-header{
    text-align: center;
}